<div class="jumbotron mt-2">
   <h1><%= I18n.t('welcome') %></h1>
   <p class="lead"><%= t('messages.welcome') %></p>
   <hr class='my-4'>
   <p><%= t("messages.menu") %></p>
   <%= render "menu" %>
</div>