<h1><%= t('editing.coins') %></h1>

<%= render 'form', coin: @coin %>

<%= link_to t('links.show'), @coin, class: 'btn btn-primary mt-2' %> |
<%= link_to t('links.back'), coins_path, class: 'btn btn-primary mt-2' %>